@import "./../variables";

.header {
    &_inner {  
        max-width: $maxWidthInner;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-logo {
        display: flex;
        align-items: center;

        &_img {
            font-size: 40px;
            margin-right: 5px;
            line-height: 1;
        }

        &_text-top {
            font-size: 20px;
            font-weight: bold;
        }
    }

    & .nav {
        margin-left: auto;

        &_list {
            list-style: none;
            display: flex;
            flex-direction: row;
        }

        &_element {
            //
        }

        &_link {
            transition: text-shadow .3s, color .1s ease-in-out;
            padding: 4px 12px;
            margin: 0 0 0 5px;
            font-size: 18px;
            font-weight: 500;
            color: $grey;

            &:hover { 
                color: $black;
                border-bottom: 2px solid $black
            }

            &.activeLink {
                color: $black;
                border-bottom: 2px solid $black
            }
        }
    }
}
