@import "./../variables";

header {
    display: flex;
    flex-direction: row;
}

nav {
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    a {
        transition: text-shadow .3s, color .1s ease-in-out;
        padding: 4px 12px;
        margin: 0 0 0 5px;
        font-size: 18px;
        font-weight: 500;
        color: $grey;
    }
      
    a:hover {
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        /* use the line below if you want a more intense effect */
        /* text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333; */
    }
    
    .activeLink {
        color: $black;
        font-weight: bold;
    }
}
